.cv-education {
  text-align: center;
}

.cv-education hr {
  color: var(--color);
  border: 1px solid;
  width: 80%;
  margin: auto;
}

.cv-education ul {
  line-height: 28px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.cv-education ul li {
  width: 100%;
  line-height: 32px;
  font-size: 24px;
  white-space: wrap;
}

@media only screen and (max-width: 430px) {
  .cv-education hr {
    width: 90%;
  }

  .cv-education ul {
    padding: 0 10px;
    gap: 16px;
    width: 100%;
  }

  .cv-education ul li {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}

@media only screen and (max-width: 668px) {
  .cv-education hr {
    width: 568px;
  }

  .cv-education ul {
    padding: 0 20px;
    width: 100%;
  }

  .cv-education ul li {
    font-size: 20px;
    line-height: 30px;
  }
}
