.cv-skills {
  width: 600px;
  text-align: center;
  i {
    color: var(--color);
    font-weight: 600;
    font-size: 28px;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li {
      /* white-space: nowrap; */
      border: 2px solid white;
      margin: 8px 0;
      padding: 8px 10px;
      border-radius: 5px;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #1c859d75;
    }
  }
}

@media only screen and (max-width: 968px) {
  .cv-skills {
    margin: auto;
    width: 868px;
  }
  ul {
    margin: auto;
    width: 868px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
