.cv-skills {
  text-align: center;
  ul {
    i {
      color: #623e2a;
      font-weight: 600;
      font-size: 28px;
    }
    li {
      margin: 8px 0;
      padding: 4px;
      color: rgb(165, 20, 20);
      font-size: 24px;
      line-height: 28px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
