.cv-summary {
  text-align: center;
  span {
    line-height: 22px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 668px) {
  .cv-summary {
    width: 568px;
    span {
      width: 568px;

      line-height: 22px;
      font-size: 24px;
    }
  }
}
